@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar custom css */

.navbar-wrapper {
  background: #fff;
  border-bottom: 1px solid #F2F4F7;
}

.navbar-links-wrapper {
  border-radius: 100px;
  border: 1px solid #F2F4F7;
  background: #F9FAFB;
  padding: 8px 16px;
}

.navbar-link-active {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.navbar-link {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.navbar-login-button {
  padding: 8px 12px;
  border-radius: 9999px;
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.navbar-sign-up-button {
  padding: 8px 12px;
  border-radius: 9999px;
  border: 1px solid #FF007A;
  background: #FF007A;
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* hero section css */

.hs-wrapper-main {
  width: 100%;
  height: 100%;
  background-image: url('../public/images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hs-wrapper-2 {
  width: 100%;
  height: 100%;
  background-image: url('../public/images/hero-noise.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hs-wrapper-3 {
  width: 100%;
  height: 100%;
  background-image: url('../public/images/hero-icons.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hs-wrapper3-financing-div {
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(22px);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}

.hs-wrapper3-financing-div-new {
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid rgba(255, 0, 122, 0.61);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(22px);
  color: #FABB05;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
}

.hs-wrapper3-financing-heading {
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  background: linear-gradient(90deg, #F4E6FB 1.42%, #FBE6F4 97.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hs-wrapper3-financing-sub-heading {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.hs-wrapper2-started-button {
  padding: 8px 16px;
  border-radius: 9999px;
  border: 1px solid #FF007A;
  background: #FF007A;
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.hs-wrapper2-images-div-wrapper {
  padding: 8px;
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  filter: drop-shadow(0px 0px 2px #FF007A);
  backdrop-filter: blur(74px);
}

/* Trusted by text css */

.tb-text {
  color: #344054;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* Transform your business */

.tb-wrapper {
  border-radius: 16px;
  background: #0F0F0F;
}

.tb-div1-wrapper {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/tb-gradient.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tb-div2-wrapper {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/tb-icons.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tb-button-too-wrapper {
  padding: 4px 16px 4px 8px;
  border-radius: 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.12px;
}

.tb-main-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.tb-main-heading2 {
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.96px;
}

.tb-sub-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tb-sign-up-button {
  padding: 8px 12px;
  border-radius: 9999px;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px #fff);
  color: #FF007A;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* Industries list css */

.il-services-wrapper {
  padding: 4px 16px 4px 8px;
  border-radius: 100px;
  border: 0.5px solid #D0D5DD;
  background: #F9FAFB;
}

.il-services-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.12px;
}

.il-view-all-button {
  padding: 8px 16px;
  border-radius: 9999px;
  border: 1px solid #FF007A;
  background: #FF007A;
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.il-industries-serve {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.il-industries-serve-sub {
  color: #475467;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.li-slider-buttons {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 0.6px solid #D0D5DD;
  background: #FFF;
}

.il-card-wrapper {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #F2F4F7;
}

.il-card-wrapper2 {
  padding: 16px;
  border-radius: 16px;
}

.li-card-top-button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #EAECF0;
  background: #F2F4F7;
  filter: drop-shadow(0px 0px 4px #F2F4F7);
}

.li-card-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.li-card-subHeading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.li-card-button-bottom {
  padding: 10px 14px;
  border-radius: 8px;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px #fff);
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.li-card-button-bottom2 {
  padding: 10px 14px;
  border-radius: 81.013px;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px #fff);
  color: #FF007A;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* testimonials section css */

.ts-card-wrapper {
  padding: 20px 20px 24px 20px;
  border-radius: 16px;
  filter: drop-shadow(0px 0px 4px #FFF);
  border: 1px solid #F2F4F7;
}

.ts-name {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.ts-company {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ts-review {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ts-read-full {
  color: #FF27A0;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* why choose us css */

.wc-card-wrapper {
  filter: drop-shadow(0px 0px 4px #fff)
}

.wc-card-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.wc-card-subHeading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.harvv-clip {
  background: var(--Gradient, linear-gradient(345deg, #EC008C -2%, #FC6767 83.36%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Contact Us CSS */

.cu-details-wrapper {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #EC008C;
}

.cu-icon-wrapper {
  width: 56px;
  height: 56px;
  padding: 14px;
  border-radius: 12px;
  /* border: 1px solid #EAECF0; */
  background: linear-gradient(345deg, #EC008C -2%, #FC6767 83.36%);
  filter: drop-shadow(0px 0px 4px #FC6767);
}

.cu-inner-heading {
  color: #333;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cu-inner-sub-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.cu-icon2-wrapper {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  /* border: 1px solid #EAECF0; */
  background: linear-gradient(345deg, #EC008C -2%, #FC6767 83.36%), #F9FAFB;
  filter: drop-shadow(0px 0px 4px #FC6767);
}

.cu-form-wrapper {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #D0D5DD;
}

.cu-form-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.cu-form-sub-heading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.input-container {
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #E2E4E9;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
}

.input-container2 {
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
}

.input-container .icon {
  margin-right: 5px;
}

.input-container2 .icon {
  margin-right: 5px;
}

.input-container input {
  color: #868C98;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  border: none;
  outline: none;
  flex: 1;
}

.input-container2 input {
  color: #FFF0F9;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  border: none;
  outline: none;
  flex: 1;
}

.cu-form-textarea {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #E2E4E9;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  color: #868C98;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  outline: none;
}

.cu-form-button-submit {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #FF007A;
  background: #FF007A;
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* Footer section css */

.footer-logo-harvv {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-sub-heading {
  color: #F5F5F6;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.footer-section-heading {
  color: #F5F5F6;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.footer-section-sub-heading {
  color: #F5F5F6;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.footer-si-wrapper {
  padding: 8px;
  border-radius: 8px;
  background: #1F242F;
}

/* .footer-lower-section-wrapper {
  padding: 12px 40px;
} */

.footer-copyright {
  color: #F5F5F6;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-lower-links {
  color: #F5F5F6;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}

/* tabs adn pricing css */

.tab-wrapper {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #EAECF0;
  background: #F9FAFB;
}

.tab-active {
  padding: 0px 4px 12px 4px;
  border-radius: 0px;
  border-bottom: 2px solid #FF007A;
  color: #FF007A;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.tab-non-active {
  padding: 0px 4px 12px 4px;
  border-radius: 0px;
  color: #667085;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.tab-active2 {
  padding: 8px 12px;
  border-radius: 6px;
  background: #FF007A;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  color: #F9FAFB;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.tab-non-active2 {
  padding: 8px 12px;
  gap: 8px;
  border-radius: 6px;
  color: #667085;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.tab-top-main-heading {
  color: #101828;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
}

.tab-top-sub-heading {
  color: #344054;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pricing-div-wrapper {
  border-radius: 16px;
  border: 1px solid #EAECF0;
  background: #FFF;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}

.pricing-header-wrapper {
  padding: 12px;
  border-radius: 8px;
  background: #F9FAFB;
}

.most-popular {
  padding: 4px 12px;
  border-radius: 0px 15px 0px 15px;
  background: linear-gradient(345deg, #EC008C -2%, #FC6767 83.36%);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.pricing-new-sub-heading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.pricing-new-sub-heading2 {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pricing-pay-with {
  color: #101828;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.pricing-harvv-brand {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pricing-card-header-wrapper {
  padding: 24px;
  border-bottom: 1px solid #EAECF0;
}

.pricing-card-plan-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.pricing-card-plan-sub-heading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pricing-dollar-sign {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.pricing-dollar-text {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.96px;
}

.pricing-dollar-per-month {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.pricing-card-items-heading {
  color: #475467;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pricing-harvv-your-brand {
  color: #FF4405;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pricing-the-includes {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.pricing-footer-button {
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid #E93A7D;
  background: #FF007A;
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.pricing-x-brand {
  color: #E93A7D;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.pricing-x-brand-wrapper {
  border-radius: 8px;
  border: 0.2px solid #D0D5DD;
  background: linear-gradient(180deg, #FFF 0%, #D0D5DD 100%), #FFF;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

.badge {
  padding: 2px 10px;
  border-radius: 9999px;
  border: 1px solid #FECDCA;
  background: #FEF3F2;
  color: #B42318;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.pricing-input-field {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px #fff);
  color: #667085;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}

.pricing-input-filed-sub-text {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* About us page css */

.au-history-details {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.au-streamlining-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.au-hoh-wrapper {
  border-radius: 16px;
  background: #FCFCFD;
}

.au-hoh-inner-wrapper {
  padding: 16px;
  border-radius: 24px;
  background: #F2F4F7;
}

.au-hoh-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.au-hoh-sub-text {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.au-mfc-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.au-mfc-heading2 {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.au-mfc-sub-text {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Power Sports CSS */

.ps-hero-wrapper {
  border-radius: 16px;
  background-image: url('../public/images/ps-hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ps-badge-wrapper {
  padding: 4px 12px;
  border-radius: 34px;
  border: 0.4px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.ps-top-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.ps-top-sub-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ps-top-hero-button {
  padding: 10px 14px;
  border-radius: 100px;
  background: linear-gradient(90deg, #FF00C7 0%, #FF007A 100%);
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.ps-top-right-button {
  padding: 10px 14px;
  border-radius: 100px;
  border: 0.6px solid #EC008C;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px #EC008C);
}

.ps-top-right-button-div {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  background: linear-gradient(345deg, #EC008C -2%, #FC6767 83.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ps-learn-how-div-wrapper {
  background-image: url('../public/images/ps-img-bg-pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px rgba(255, 255, 255, 0.60);
}

.ps-setting-top-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 135.202px;
  background: #FFF;
  box-shadow: 0px 0px 0px 3.063px rgba(255, 224, 239, 0.25);
}

.ps-inventory-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}

.ps-inventory-sub-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
}

.ps-learn-how-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}

.tm-top-wrapper {
  border-radius: 16px;
  background-image: url('../public/images/ps-reviews-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hm-top-wrapper {
  border-radius: 16px;
  background-image: url('../public/images/reviews-home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hm-reviews-tag-wrapper {
  padding: 6px 8px;
  border-radius: 54px;
  border: 0.6px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0px 4px 52px 4px rgba(16, 24, 40, 0.25), 0px 0.532px 1.063px 0px rgba(16, 24, 40, 0.05);
  backdrop-filter: blur(100px);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 9.235px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.576px;
}

.hm-reviews-tag-icon-wrapper {
  display: flex;
  width: 21.27px;
  height: 21.27px;
  padding: 5.317px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 0px);
  flex-shrink: 0;
  border-radius: 34.43px;
  border: 0.443px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(3.5449604988098145px);
}

.ps-ts-card-wrapper {
  padding: 16px 20px;
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0px 4px 52px 4px rgba(16, 24, 40, 0.25);
  backdrop-filter: blur(100px);
}

.ps-ts-name {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.ps-ts-company {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ps-ts-review {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ps-li-slider-buttons {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 0.6px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(18px);
}

.ps-ts-rfcs-wrapper {
  padding: 5px 12px 6px 16px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
}

.ps-ts-read-full {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.ps-flash-wrapper {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.ps-flash-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.ps-flash-sub-heading {
  color: #333;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ps-tb-wrapper {
  border-radius: 16px;
}

.ps-tb-div1-wrapper {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/ps-bottom-image.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ps-tb-div2-wrapper {
  border-radius: 16px;
}

.ps-il-view-all-button {
  padding: 8px 16px;
  border-radius: var(--radius-full, 9999px);
  background: linear-gradient(90deg, #FF00C7 0%, #FF007A 100%);
  filter: drop-shadow(0px 0px 4px #FF007A);
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* Solar Industry Style CSS*/

.si-top-wrapper {
  border-radius: 16px;
  background-image: url('../public/images/si-reviews-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.si-ctc-heading {
  color: #101828;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.si-ctc-wrapper {
  padding: 24px;
  border-radius: 24px;
  background: #FFF;
}

.si-ctc-icon-wrapper {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 9999px;
  background: #FFF0F9;
}

.si-ctc-bottom-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.si-ctc-bottom-sub-heading {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.si-hero-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}

.si-hero-sub-heading {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.si-top-learn-how-wrapper {
  border-radius: 12px;
  background: linear-gradient(90deg, #FF00C7 0%, #FF007A 100%);
  filter: drop-shadow(0px 0px 4px #FF007A);
}

.si-check-our-plans {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.si-check-our-plans-2 {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* FAQs CSS */

.faq-question-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.faq-answer {
  color: #333;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.faq-textarea {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: rgba(255, 255, 255, 0.20);
  color: #E2E4E9;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}

.faq-services-wrapper {
  padding: 4px 16px 4px 8px;
  border-radius: 100px;
  border: 1px solid #D0D5DD;
  background: rgba(255, 255, 255, 0.20);
}

.faq-services-heading {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.12px;
}

/* Homepage new CSS */

.hns-wcu-heading {
  color: #1D1D1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.hns-wcu-sub-heading {
  color: #344054;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.hns-wcu-cfc-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.hns-wcu-cfc-sub-heading {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Navbar icons */

.navbar-child-heading {
  color: #101828;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.navbar-child-heading-active {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}